 @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body{
		font-family:'Noto Sans','Noto Sans TC';
		background-color:#00AA88;
}

@media (min-width:992px)
{body{
	padding-top:0;
	padding-left:17rem
	}
	
h1{
	font-family:inherit;
	text-transform: none;
	line-height:6rem;}

.subheading
{
	font-family:inherit;
	text-transform: none;
	line-height:2rem;
	margin-top:1rem;}